body{
    padding-left: 380px;
    padding-top: 150px;
}
.Contenedor{
    display: flex;
    border: 0px solid #ffffff;
    width: 500px;
    height: 350px;
    margin: 1px;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    caret-color: transparent;
}
ul{
    list-style-type: none;
}
.Score{
    font-family:'Hanken Grotesk',sans-serif;
    text-align: left;
    flex: 1;
    padding-left: 0px;
    border-radius: 0px 25px 25px 0px;
    border-left: none;  
}
.Results{
    font-size: 18px;
    font-family:'Hanken Grotesk',sans-serif;
    padding: 0px;
    flex: 1;
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 25px;
    color: #ffffff
}
.Circulo{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-content: center;
    background: linear-gradient(to bottom,hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    justify-content: center;
}
.boton{
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 35px;
    color: #ffffff;
    height: 35px;
    width: 200px;
    font-family:'Hanken Grotesk',sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    caret-color: transparent;
}
.boton:active{
    background: hsl(224, 30%, 27%);
    box-shadow: 5px rgba(0, 0, 0, 0.3);
    transform: scale(0.98);
    
}
.r{
    padding-top: 8px;
    background-color: hsl(0, 66%, 94%);
    color: hsl(0, 100%, 67%);
    width: 185px;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
}
.m{
    padding-top: 8px;
    background-color: hsl(38, 69%, 94%);
    color: hsl(39, 100%, 56%);
    width: 185px;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
}
.v{
    padding-top: 8px;
    background-color: hsl(165, 100%, 96%);
    color: hsl(166, 100%, 37%);
    width: 185px;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
}
.vi{
    padding-top: 8px;
    background-color: hsl(235, 81%, 94%);
    color:hsl(234, 85%, 45%) ;
    width: 185px;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
}
.numero{
    color: black;
    font-family:'Hanken Grotesk',sans-serif;
    text-align: right;
}
li{
    margin-bottom: 15px;
}
.titulo{
    padding-left: 35px;
    opacity: 0.8;
    font-size: 17px;
    padding-top: 4px;
}
.p{
    padding-left: 50px;
    font-size: 22px;
    padding-top: 10px;
}
.pa{
    opacity: 0.8;
    font-size: 12px;
    text-align:center;
    max-width: 170px;
    padding-bottom: 15px;
}
.ng{
    padding-left:49px;
    padding-top: 30px;
    font-size: 50px;
    font-weight: 800;
}
.np{
    padding-left: 60px;
    padding-bottom: 0px;
    font-size: 14px;
    opacity: 0.8;
}
i{
    text-align: left;
    padding-right: 25px;
}
@media screen and (max-width: 375px) {
    body{
        padding-right: 500px;
    }
    .Contenedor {
        border: 0px solid #ffffff;
        width: 350px;
        height: 800px;
        margin: 1px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        border-radius: 25px;
        caret-color: transparent;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .Results{
        font-size: 18px;
        font-family:'Hanken Grotesk',sans-serif;
        padding: 0px;
        background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
        border-radius: 25px;
        width: 350px;
        height: 400px;
        color: #ffffff;
    }
    .Score{
        font-family:'Hanken Grotesk',sans-serif;
        text-align: center;
        width: 350px;
        padding-left: 0px;
        border-radius: 0px 25px 25px 0px;
        border-left: none;  
    }
    .Circulo {
        height: 150px; 
        width: 150px; 
        padding-left: 0px;
        text-align: right;
        align-items: right;
    }
    i{
        width: 100%;
        padding: 15px;
    }
    .titulo{
        padding-left: 90px;
        opacity: 0.8;
        font-size: 18px;
        padding-top: 10px;
    }
    .p{
        padding-left: 100px;
        font-size: 22px;
        padding-top: 10px;
        font-size: 25px;
    }
    .pa{
        opacity: 0.8;
        font-size: 18px;
        text-align:center;
        padding-left: 0px;
        padding-right: 30px;
        max-width: 350px;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .r{
        padding-top: 10px;
        background-color: hsl(0, 66%, 94%);
        color: hsl(0, 100%, 67%);
        width: 270px;
        height: 30px;
        border-radius: 8px;
        text-align: left;
        padding-left: 15px;
        align-items: center;
    }
    .m{
        padding-top: 8px;
        background-color: hsl(38, 69%, 94%);
        color: hsl(39, 100%, 56%);
        width: 270px;
        height: 30px;
        border-radius: 8px;
        text-align: left;
        padding-left: 15px;
    }
    .v{
        padding-top: 8px;
        background-color: hsl(165, 100%, 96%);
        color: hsl(166, 100%, 37%);
        width: 270px;
        height: 30px;
        border-radius: 8px;
        text-align: left;
        padding-left: 15px;
    }
    .vi{
        padding-top: 8px;
        background-color: hsl(235, 81%, 94%);
        color:hsl(234, 85%, 45%) ;
        width: 270px;
        height: 30px;
        border-radius: 8px;
        text-align: left;
        padding-left: 15px;
    }
    .boton{
        width: 285px;
        align-items: left;
    }
    h3{
        text-align: left;
    }
    .Score li{
        text-align: left;
    }
}